<div ng-show="vm.isLoaded" class="row">
    <div ng-show="vm.allGames && vm.allGames.length > 0">
        <div class="col-md-2 well" ng-repeat="game in vm.allGames">
            <p class="lead text-center ellipsis">
                <strong>
                    {{ game.Name }}
                </strong>
            </p>
            <p class="text-center ellipsis">
                <strong>First player</strong>:
                <span class=" {{ game.FirstPlayerSymbol == 'X' ?  'text-danger' : 'text-success' }}"> {{ game.FirstPlayerName }} </span>

            </p>

            <p class="text-center ellipsis">
                <strong>Second player</strong>:
                <span class="{{ game.SecondPlayerSymbol == 'X' ?  'text-danger' : 'text-success' }}"> {{ game.SecondPlayerName }} </span>
            </p>

            <p class="text-center">
                <strong>Game state</strong>:
                <span class="text-warning">
                    {{
                        {
                            state: game.State,
                            firstPlayerSymbol : game.FirstPlayerSymbol,
                            secondPlayerSymbol : game.SecondPlayerSymbol
                        }
                        | gameStateFilter
                    }} </span>
            </p>

            <div class="text-center">
                <svg svg-board board="game.Board" width="170" height="200"></svg>
            </div>


            <div class="row text-center">
                <a href="/game/{{game.Id}}"
                   ng-if="!!hm.globallySetCurrentUser && (hm.globallySetCurrentUser.Email == game.FirstPlayerName || hm.globallySetCurrentUser.Email == game.SecondPlayerName)"
                   class="btn btn-primary">Details</a>
                <a href="#" ng-click="vm.joinGame(game.Id)" ng-if="game.State == 0 && game.FirstPlayerName != hm.globallySetCurrentUser.Email && !!hm.globallySetCurrentUser" class="btn btn-warning">Join</a>
            </div>
        </div>
    </div>
    <div ng-hide="vm.allGames && vm.allGames.length > 0">

        <div class="text-center">
            <p class="leaad text-warning ">There are no games</p>
            <a href="/games/all" class="btn btn-primary">Check all games</a>
        </div>
    </div>
</div>

<div ng-hide="vm.isLoaded" class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="progress active progress-striped" style="width: 400px;">
            <div class="progress-bar progress-bar-info width-20">
                <div>Connecting</div>
            </div>
            <div class="progress-bar width-20">
                <div>to</div>
            </div>
            <div class="progress-bar progress-bar-success width-20">
                <div>the</div>
            </div>

            <div class="progress-bar progress-bar-warning width-20">
                <div>dark</div>
            </div>
            <div class="progress-bar progress-bar-danger width-20">
                <div>side.</div>
            </div>
        </div>
        It's slow I know, but cannot do anything right now.
        <br/>
        If an error occur. Try refresh the page.
    </div>
</div>