<div class="panel panel-primary ">
    <div class="panel-heading">
        <div class="panel-title">
            Tic-Tac-Toe Game:

        </div>
        <div class=" text-center">
            <h3>

                {{vm.gameInfo.Name}}
            </h3>
        </div>
    </div>
    <div class="panel-body " style="padding: 30px;">

        <div class="row">
            <div class="col-lg-4">
                <div class="bs-component">
                    <p class="lead"><strong>First player</strong>:  <span class="{{ vm.gameInfo.FirstPlayerSymbol == 'X' ?  'text-danger' : 'text-success' }}"> {{ vm.gameInfo.FirstPlayerName }} </span></p>
                    <p class="lead"><strong>Second player</strong>:  <span class="{{ vm.gameInfo.SecondPlayerSymbol == 'X' ?  'text-danger' : 'text-success' }}"> {{ vm.gameInfo.SecondPlayerName }} </span></p>
                    <p class="lead">
                        <strong>Game state</strong>:
                        <span class="text-warning">
                            {{
                                {
                                   state : vm.gameInfo.State,
                                   firstPlayerSymbol : vm.gameInfo.FirstPlayerSymbol,
                                   secondPlayerSymbol : vm.gameInfo.SecondPlayerSymbol
                                }
                            | gameStateFilter
                            }}
                        </span>
                    </p>

                    <div style="display: none;" id="source-button" class="btn btn-primary btn-xs">&lt; &gt;</div>
                </div>
            </div>
            <form novalidate name="playTileForm" class="col-md-4">
                <div class="row text-center">
                    <div>
                        <div ttt-board info="vm.gameInfo"></div>
                    </div>
                </div>
            </form>

            <button id="btn-share" ng-show="vm.gameInfo.State == 0" class="pull-right btn-primary btn" ng-click="vm.copyLink(vm.gameInfo.Id)" data-toggle="tooltip" data-placement="top" data-original-title="Copied!">

                Share
                <span class="glyphicon glyphicon-share" aria-expanded="true"></span>
            </button>

        </div>

        <br/>
        <br/>
        <br/>

        <div class="row">
            <div class="text-center">
                <button href="#" ng-disabled="!playTileForm.$dirty || vm.gameInfo.State === 0 || vm.gameInfo.State === 3|| vm.gameInfo.State === 4 || vm.gameInfo.State === 5" ng-click="vm.play(vm.tile, playTileForm)" class="btn btn-primary">Play</button>
            </div>
        </div>
    </div>
    <hr/>
</div>

<script>
    $(document).ready(function(){
        var object = $('[data-toggle="tooltip"]').tooltip({ trigger: 'focus', delay: { show: 50, hide: 1000 }});
    });
</script>